{
  "extends": [
    "airbnb-base",
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "no-underscore-dangle": [ 0, { 
      "enforceInMethodNames": true
    }],
    "max-len": [1, { "code": 120 }],
    "no-use-before-define": ["error", { "functions": false }]
  }
}